$bg-dark-mode: #2C2C2C;
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$bg-patika-dark:#8C8C8C;
$union-dark-mode:#FFBF5E;
$bg-patika-blue:#444AFF;
$white-text: #fff;
$primary:rgb(0, 132, 255);
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

html,
body {
  font-family: 'Oxygen', sans-serif;
  line-height: 1.7;
  font-size: 1rem;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;

}


body.dark {

  min-height: 100vh;


  
  .registersection .formSignUp .confirm input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: $bg-dark-mode;

    border: 1px solid white;

    width: 24px;
    height: 24px;
    position: relative;
    top: 3px;

    &:checked::after {
      content: "\2714";
      box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
      border-radius: 3px;

      position: relative;
      right: 11px;
      bottom: 3px;

      text-align: center;
      font-size: 15px;
      color: white;
    }
  }

  .patikasection {
    background-color: $bg-patika-dark;


    h1,
    p {
      color: #fff;

    }

  }

  .registerbutton {
    background-color: $union-dark-mode !important;
  }

  .unions {

    .unionone,
    .uniontwo {
      background-color: $union-dark-mode;
    }
  }

  .registersection {


    color: #fff;
    background-color: $bg-dark-mode;
  }



  .app input {
    color: #fff;
    border: 2px solid #8E8E8E !important;
    background-color: $bg-dark-mode;
  }

  .heading {
    h1 {
      color: #fff !important;
      border: 4px solid $union-dark-mode !important;
      ;
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }

    ;
  }

}

.app {


  overflow: hidden;
  display: flex;

  flex-direction: row;
  justify-content: space-between;

  .patikasection {

  display: flex;
  flex-direction: column;

    overflow: hidden;
    width: 889px;




    padding: 10px;
    background-color: #DADADA;


    h1 {


      padding-left: 15px;
      padding-right: 15px;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 74px;
      letter-spacing: -0.5px;
      text-transform: uppercase;

      color: $bg-patika-blue;
    }

    p {
      padding: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 35px;
      color: $bg-patika-blue;
    }

    .patikalogo {
      width: 100%;
      height: 200px;
      overflow-x: hidden;
      svg {
        
        
        position: relative;
        width: 281px;
        height: 144px;
        left: 57px;
        top: 50px;
      }
    }

  }

  .required {
    label {
      position: relative;

      &::after {
        position: absolute;
        color: #ee6356;
        content: "*";
        margin-left: 5px;

      }
    }
  }


  .unions {

    width: 100%;
    margin: 65px;
    height: auto;
    display: inline-flex;

 
    flex-direction: column;
    align-items: flex-end;


    .unionone {

      width: 200px;

      height: 76px;
      background: $bg-patika-blue;
      position: relative;
      right: 110px;
      top: 20px;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      transform: skew(-20deg);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14), 0px 1px 20px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.2);
    }


    .uniontwo {

      width: 330px;
      height: 76px;
      background: $bg-patika-blue;
      position: relative;
      right: 145px;
      top: 50px;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);
      transform: skew(-20deg);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14), 0px 1px 20px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.2);
    }

  }


  .registersection {


    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    background-color: #fff;

    .heading {
      width: 587px;
      height: 180px;
      position: relative;
      bottom: 10px;
      left: 14px;

      h1 {
        color: #3C3C3C;
        text-align: center;
        font-size: 40px;
        padding: 0px 0px 10px 0px;
        border: 4px solid $bg-patika-blue;
        ;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        margin-left: 10px;
        width: 133px;
      }
    }

    .themeChange {
      position: absolute;
      right: 10px;
      top: 10;
    }

    button {
      border: none;
      background: none;
    }

    .formSignUp {

      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;

      display: flex;
      padding: 5px;
      text-align: center;
      justify-content: flex-start;
      align-items: center;
      max-height: 900px;
      position: relative;
      flex-direction: column;

      .firstLine {
        display: flex;
        flex-direction: row;
        width: 550px;
        justify-content: space-between;

        input {
          width: 100%;
          height: 35px;
          padding: 5px;
          text-indent: 10px;
          border: 2px solid #8E8E8E;
          border-radius: 4px;

          &:focus {
            border: 2px solid $bg-patika-blue;
          }
        }

        label {
          position: relative;
          float: left;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .inputs {

        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
        width: 550px;

        padding: 10px;

        input {

          width: 100%;

          text-indent: 10px;
          height: 35px;
          padding: 5px;
          border: 2px solid #8E8E8E;
          border-radius: 4px;

          &:focus {
            border: 2px solid #444AFF;

          }
        }

        label {
          margin-top: 10px;
          position: relative;
          float: left;
          bottom: 3px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .error {
        text-align: start;
        margin-top: 8px;
        margin-left: 0.25rem;
        font-size: 14px;
        height: auto;

        color: red;

      }

      .border-red-300 {
        border: 1px solid red;
      }

      .confirm {
        display: flex;
        margin-top: 15px;



        input {
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: 0;
          background: #fff;

          border: 1px solid #2C2C2C;

          width: 24px;
          height: 24px;
          position: relative;
          top: 3px;

          &:checked::after {
            content: "\2714";
            box-shadow: 0px 2px 4px rgba(155, 155, 155, 0.15);
            border-radius: 3px;

            position: relative;
            right: 11px;
            bottom: 3px;

            text-align: center;
            font-size: 15px;
            color: black  ;
          }
        }

        label {
          text-transform: none;
          text-align: center;
          position: relative;

          left: 5px;
          font-size: 14px;
          color: #8E8E8E;

        }
      }

      .registerbutton {

        display: flex;
        cursor: pointer;
        justify-items: center;
        align-items: center;
        text-align: center;
        justify-content: center;

        background: $bg-patika-blue;
        color: $white-text;
        margin-left: 17px;
        padding: 30px;
        margin-top: 10px;

        width: 100%;


        height: 56px;
      }
    }



  }

}